<%- include("../partials/header") %>

<div class ="row">
	<div class="col-md-9">
		<div class="card">
			<img src="<%=book.image %>" class="card-img-top" alt="<%= book.title %>">
			<div class="card-body">
				<p class="float-right">Genre: <%= book.genre %></p>
				<h5 class="card-title float-left"><%= book.title %></h5>
				<div class="clearfix"></div>
				<p>
					<em>Posted By <a href="/users/<%= book.author.id %>"><%= book.author.username %></a>, <%= moment(book.createdAt).fromNow() %></em>
					<p1 class="float-right">Author: <%= book.bookAuthor %></p1>
				</p>
				<hr>
				<p class="card-text"><%= book.description %></p>
				<% if(currentUser && book.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
					<a class="btn btn-xs btn btn-warning" href="/books/<%= book.slug %>/edit">Update</a>
					<form class="delete-form" action="/books/<%= book.slug %>?_method=DELETE" method="POST">
						<button class="btn btn-xs btn btn-danger">DELETE</button>
					</form>					
				<% } %>
			</div>
		</div>
		
		<!-- Beginning of COMMENT SECTION ----->
		<div class="card card-header" style="margin-top: 15px;">
			<!-- Setting up add new comment button used for collapsing -->
			<div class="card-body">
				<a class="btn btn-success float-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">Add New Comment</a>
				<!-- Comment Section Title -->
				<h4><Strong>Comments</Strong></h4>
			<!-- </div> -->
			<!-- Collapse Add a comment form start-->
			<div class="collapse" id="collapseComment">
				<div class="card-body">
					<% if(!currentUser){ %>
						<div class="card border-danger" style="border-left: 5px solid;">
							<!-- If the user is not logged in, direct user to login page -->
							<div class="card-header card-body">
								<h5>You must be logged in before you can comment. <a href="/login">Click here</a> to be redirected to the login page.</h5>
							</div>
						</div>
					<% } %>
					<% if(currentUser){ %>
						<div class="card border-success" style="border-left: 5px solid;">
							<!-- If the user is logged in, show the new comment form -->
							<div class="card-header card-body">
								<h4>Write your comment</h4>
								<form id="add-comment-form" action="/books/<%= book.slug %>/comments#last" method="POST">
									<div class="from-group">
										<input class="form-control" type="text" disabled value="<%= currentUser.username %>">
									</div>
									<div class="form-group">
										<textarea class="form-control" name="comment[text]" placeholder="Begin to write a fabolous comment....." form="add-comment-form" rows="5" cols="70"></textarea>
									</div>
									<div class="form-group">
										<button class="btn btn-success btn-sm">Post</button>
									</div>
								</form>
							</div>
						</div>
					<% } %>
				</div>
			</div>
			<!-- </div> -->
		</div>
		<!-- Collpase ADD COMMENT FORM END -->
		<hr>
		<!--- Check if there are comments, if there are none then display no comments -->
		<% if(book.comments.length === 0){ %>
			<em style="color: grey; ">No Comments</em>
		<% } %>
		<div class="card-body">
			<% book.comments.forEach(function(comment){ %>
				<div class="row">
					<div class="col-md-12">
						<strong>
							<%if(currentUser && currentUser._id.equals(comment.author.id)){ %>												<!-- If the current user owns the comment, change color of the user icon-->
							<% } else { %>
								<!-- Else display it black-->
							<% } %>
							<!-- printing out the authors username (MIGHT HAVE TO CHANGE THIS) -->
							<div style="display: inline; "><%= comment.author.username %></div>
						</strong>
						<!-- Display when a comment was made -->
						<small class="text-muted"><%= moment(comment.createdAt).fromNow() %></small>
						<!-- Printing the comment -->
						<p><%= comment.text %></p>
						<!-- If visitor is logged in and owner of posted comment, show the edit and delete buttons -->
						<% if(currentUser && currentUser._id.equals(comment.author.id || currentUser && currentUser.isAdmin) || currentUser && currentUser.isAdmin){ %>
							<!-- Edit button  used for collapsing edit comment form -->
							<a class="btn btn-xs btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">Edit</a>	
							<!-- Delete button-->
							<form id="delete-form" action="/books/<%= book.slug %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
								<button class="btn btn-xs btn-danger">Delete</button>	
							</form>
							<!-- Edit comment form -->
							<div class="collapse" id="collapseEdit<%= comment._id %>">
								<div class="card border-warning" style="border-left: 5px solid; margin-top: 15px;">
									<div class="card-ehader card-body">
										<h4>Edit Your Comment</h4>
										<form id="edit-comment-form<%= comment._id %>" action="/books/<%= book.slug %>/comments/<%= comment._id %>?_method=PUT" method="POST">
											<div class="form-group">
												<input class="form-control" type="text" disabled value="<%= currentUser.username %>">
											</div>
											<div class="form-group">
												<textarea class="form-control" name="comment[text]" placeholder="This is where you can post your comment..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea> 
											</div>
											<div class="form-group">
												<button class="btn btn-warning btn-sm">Edit comment</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						
							
						<% } %>
					</div>
				</div>
			<% }) %>
		</div>
		
	</div>
</div>

<%- include("../partials/footer") %>