<%- include("../partials/header") %>
<div class="row">
	<div class="col-md-4">
		<h3 id="username_title"> <%=user.firstName + " " + user.lastName %></h3>
		<div class="thumbnail">
			<img src="<%= user.avatar%>" alt="user profile image">
			<div class="caption">
				Email: <a href="mailto:<%=user.email%>"> <%=user.email%></a>
				<!-- include some bio option on the person -->
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<h3><%=user.username%>'s books:</h3>
		<ul>
			<% books.forEach(function(book){ %>
			<li><a href="/books/<%=book.slug%>"><%= book.title %></a></li>
			<% }) %>
		</ul>
	</div>
</div>